:root {
    --main-bg-color: #080808;
    --dark-bg-color: #181818;
    --dark-bg-color-2: #202020;
    --dark-bg-color-3: #300808;
    --link-color: #ff0000;
    --link-hover: #ffffff;
    --bg-color: #941010;
    --bg-color-2: #b90000;
    --background-url: url("../img/top-banner-orc-warrior.jpg");
}

@font-face {
    font-family: anotherDanger;
    src: url(../fonts/Another_Danger_Slanted.otf)
}


a, a:visited {
    color: var(--link-color);
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

a:hover, a:focused, a:active {
    color: var(--link-hover);
    text-decoration: none;
}

html, header, body, footer{ 
    background-color: var(--main-bg-color);
}

p { 
    font-family: 'Catamaran', sans-serif;
}


.bg-dark {
    background-color: var(--main-bg-color) !important;
}

.btn {
    background-color: var(--bg-color);
}

.btn:hover, .btn:focus, .btn:active {
    background-color: var(--bg-color-2) !important;
    border-color: black !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: var(--bg-color-2) !important;
    border-color: black !important;
    box-shadow: 0 0 0 0.1rem rgba(70, 255, 0, 0) !important;
}

.card {
    background-color: var(--dark-bg-color-3);
}

.ng-binding:hover, .ng-binding:focus, .ng-binding:active {
    color: var(--link-hover);
    text-decoration: none;
}

#logo-banner {
	background-image: var(--background-url);
	background-position: 10% 10%;
	background-size: cover;
    text-align: center;
}

#logo-banner-2 {
	background-color: #00000036;
    padding-top: 4em;
    padding-bottom: 2em;
    margin-bottom: 1em;
}

#logo-guild-name {
    color: #ff0000;
    font-family: anotherDanger;
    text-shadow: 0.03em 0.03em 0px #ffffff;
    font-size: 6em;
}

#logo-server-faction {
    color: #fff;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    font-size: 1.25em;
}