.sheets-card-header {
	color: white !important;
	background-color: var(--dark-bg-color-2);
	border-color: var(--main-bg-color);
	text-align: left;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
}

.sheet-info {
	color: white;
}