<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nope</title>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sheets.css" rel="stylesheet">
  <link href="css/nope.css" rel="stylesheet">
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cinzel:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1:400,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap" rel="stylesheet">





  <!-- Include AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>

</head>

<body id="page-top" ng-app="nope-app" ng-controller="nope-controller">


  <div id="logo-banner">
	<div id="logo-banner-2">
  		<h1 id="logo-guild-name">Nope</h1>
  		<p id="logo-server-faction">Faerlina | Horde</p>
  	</div>
  </div>



  <section id="about" class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 info-pane mx-auto">
          <div class="card">
            <a class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapseGamer" role="button" aria-expanded="false" aria-controls="collapseGamer"><div>
                            Gamer
                        </div></a>
            <div class="collapse" id="collapseGamer">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Gamer'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapseDragonslayer" role="button" aria-expanded="false" aria-controls="collapseDragonslayer"><div>
                Dragonslayer
            </div>
        	</a>
            <div class="collapse" id="collapseDragonslayer">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Dragonslayer'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapseSignups" role="button" aria-expanded="false" aria-controls="collapseSignups"><div>
                Signups
            </div>
        	</a>
            <div class="collapse" id="collapseSignups">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Signups'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapseResources" role="button" aria-expanded="false" aria-controls="collapseResources"><div>
                Resources
            </div>
        	</a>
            <div class="collapse" id="collapseResources">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Resources'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapsePVP" role="button" aria-expanded="false" aria-controls="collapsePVP"><div>
                PVP
            </div>
        	</a>
            <div class="collapse" id="collapsePVP">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'PVP'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapseDruid" role="button" aria-expanded="false" aria-controls="collapseDruid"><div>
                Druid
            </div>
        	</a>
            <div class="collapse" id="collapseDruid">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Druid'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapseHunter" role="button" aria-expanded="false" aria-controls="collapseHunter"><div>
                Hunter
            </div>
        	</a>
            <div class="collapse" id="collapseHunter">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Hunter'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapseMage" role="button" aria-expanded="false" aria-controls="collapseMage"><div>
                Mage
            </div>
        	</a>
            <div class="collapse" id="collapseMage">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Mage'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapsePaladin" role="button" aria-expanded="false" aria-controls="collapsePaladin"><div>
                Paladin
            </div>
        	</a>
            <div class="collapse" id="collapsePaladin">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Paladin'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapsePriest" role="button" aria-expanded="false" aria-controls="collapsePriest"><div>
                Priest
            </div>
        	</a>
            <div class="collapse" id="collapsePriest">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Priest'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapseRogue" role="button" aria-expanded="false" aria-controls="collapseRogue"><div>
                Rogue
            </div>
        	</a>
            <div class="collapse" id="collapseRogue">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Rogue'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapseShaman" role="button" aria-expanded="false" aria-controls="collapseShaman"><div>
                Shaman
            </div>
        	</a>
            <div class="collapse" id="collapseShaman">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Shaman'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapseWarlock" role="button" aria-expanded="false" aria-controls="collapseWarlock"><div>
                Warlock
            </div>
        	</a>
            <div class="collapse" id="collapseWarlock">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Warlock'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

            <a  class="card-header btn btn-primary sheets-card-header" data-toggle="collapse" href="#collapseWarrior" role="button" aria-expanded="false" aria-controls="collapseWarrior"><div>
                Warrior
            </div>
        	</a>
            <div class="collapse" id="collapseWarrior">
              <div class="card card-body">
                
                  <div class="sheet-info" ng-repeat="(entry,val) in sheets | filter:{Category:'Warrior'} | orderBy:'Name'">
                    <span><strong><a href="{{val.URL}}">{{val.Name}}</a></strong></span><p>{{val.Description}}</p>
                  </div>
                          
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>





    <footer class="py-3 bg-dark">
      <div class="container">
        <div class="row" id="footer-section">
          <div class="col-lg-12 mx-auto">       
          </div>
        </div>
      </div>
    </footer> 
  <!-- Bootstrap core JavaScript -->
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

  <!-- JavaScript to generate page content -->
  <script src="js/content.js"></script>

</body>

</html>
